In [1]:
# Import API call packages
import pandas as pd
import requests
import json

In [2]:
# Input API url to send requests
url = "https://api.covid19api.com/total/country/singapore/status/confirmed"

# API request
response = requests.request("GET", url)
parsed_data = json.loads(response.text)
df = pd.DataFrame.from_dict(parsed_data)

# Cases = total cases, adding extra column for daily cases
df['Daily_cases'] = df['Cases'].diff()
df.Cases.fillna(0).sum()
df.Daily_cases.fillna(0).sum()
df.sample(20)

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date,Daily_cases
463,Singapore,,,,,0,0,61121,confirmed,2021-04-29T00:00:00Z,35.0
347,Singapore,,,,,0,0,58697,confirmed,2021-01-03T00:00:00Z,35.0
638,Singapore,,,,,0,0,162026,confirmed,2021-10-21T00:00:00Z,3439.0
420,Singapore,,,,,0,0,60137,confirmed,2021-03-17T00:00:00Z,9.0
368,Singapore,,,,,0,0,59308,confirmed,2021-01-24T00:00:00Z,48.0
681,Singapore,,,,,0,0,267916,confirmed,2021-12-03T00:00:00Z,766.0
61,Singapore,,,,,0,0,509,confirmed,2020-03-23T00:00:00Z,54.0
0,Singapore,,,,,0,0,0,confirmed,2020-01-22T00:00:00Z,NaN
12,Singapore,,,,,0,0,18,confirmed,2020-02-03T00:00:00Z,0.0
292,Singapore,,,,,0,0,58064,confirmed,2020-11-09T00:00:00Z,8.0
336,Singapore,,,,,0,0,58482,confirmed,2020-12-23T00:00:00Z,21.0
461,Singapore,,,,,0,0,61063,confirmed,2021-04-27T00:00:00Z,12.0
616,Singapore,,,,,0,0,94043,confirmed,2021-09-29T00:00:00Z,2268.0
443,Singapore,,,,,0,0,60601,confirmed,2021-04-09T00:00:00Z,26.0
700,Singapore,,,,,0,0,276720,confirmed,2021-12-22T00:00:00Z,335.0
405,Singapore,,,,,0,0,59956,confirmed,2021-03-02T00:00:00Z,8.0
424,Singapore,,,,,0,0,60196,confirmed,2021-03-21T00:00:00Z,12.0
208,Singapore,,,,,0,0,55838,confirmed,2020-08-17T00:00:00Z,91.0
89,Singapore,,,,,0,0,8014,confirmed,2020-04-20T00:00:00Z,1426.0
518,Singapore,,,,,0,0,62470,confirmed,2021-06-23T00:00:00Z,22.0

In [13]:
# Clean up the datetime format and break it down for easier dashboarding
df['date'] = pd.DatetimeIndex(df['Date']).strftime('%y-%m-%d')
df['day'] = pd.DatetimeIndex(df['Date']).day
df['month'] = pd.DatetimeIndex(df['Date']).month
df['year'] = pd.DatetimeIndex(df['Date']).year
df['quarter'] = pd.DatetimeIndex(df['Date']).quarter
df['year/month'] = pd.DatetimeIndex(df['Date']).strftime('%y-%m')

In [14]:
# Drop all unwanted columns
df_clean = df.drop(['Date', 'CountryCode', 'Province', 'City', 'CityCode', 'Lat', 'Lon'], axis = 1)

# Quick scan on the final df before exporting to csv
df_clean.sample(20)

,Country,Cases,Status,Daily_cases,date,day,month,year,quarter,year/month
450,Singapore,60769,confirmed,34.0,21-04-16,16,4,2021,2,21-04
322,Singapore,58291,confirmed,6.0,20-12-09,9,12,2020,4,20-12
77,Singapore,1623,confirmed,142.0,20-04-08,8,4,2020,2,20-04
677,Singapore,263486,confirmed,1103.0,21-11-29,29,11,2021,4,21-11
52,Singapore,212,confirmed,12.0,20-03-14,14,3,2020,1,20-03
563,Singapore,65686,confirmed,81.0,21-08-07,7,8,2021,3,21-08
207,Singapore,55747,confirmed,86.0,20-08-16,16,8,2020,3,20-08
210,Singapore,56031,confirmed,93.0,20-08-19,19,8,2020,3,20-08
120,Singapore,29812,confirmed,448.0,20-05-21,21,5,2020,2,20-05
595,Singapore,69582,confirmed,349.0,21-09-08,8,9,2021,3,21-09
526,Singapore,62589,confirmed,10.0,21-07-01,1,7,2021,3,21-07
469,Singapore,61268,confirmed,16.0,21-05-05,5,5,2021,2,21-05
643,Singapore,179095,confirmed,3277.0,21-10-26,26,10,2021,4,21-10
572,Singapore,66225,confirmed,53.0,21-08-16,16,8,2021,3,21-08
296,Singapore,58114,confirmed,12.0,20-11-13,13,11,2020,4,20-11
414,Singapore,60070,confirmed,8.0,21-03-11,11,3,2021,1,21-03
608,Singapore,79899,confirmed,1178.0,21-09-21,21,9,2021,3,21-09
430,Singapore,60288,confirmed,23.0,21-03-27,27,3,2021,1,21-03
259,Singapore,57840,confirmed,10.0,20-10-07,7,10,2020,4,20-10
481,Singapore,61613,confirmed,28.0,21-05-17,17,5,2021,2,21-05

In [15]:
df_clean

,Country,Cases,Status,Daily_cases,date,day,month,year,quarter,year/month
0,Singapore,0,confirmed,NaN,20-01-22,22,1,2020,1,20-01
1,Singapore,1,confirmed,1.0,20-01-23,23,1,2020,1,20-01
2,Singapore,3,confirmed,2.0,20-01-24,24,1,2020,1,20-01
3,Singapore,3,confirmed,0.0,20-01-25,25,1,2020,1,20-01
4,Singapore,4,confirmed,1.0,20-01-26,26,1,2020,1,20-01
...,...,...,...,...,...,...,...,...,...,...
712,Singapore,280754,confirmed,464.0,22-01-03,3,1,2022,1,22-01
713,Singapore,281596,confirmed,842.0,22-01-04,4,1,2022,1,22-01
714,Singapore,282401,confirmed,805.0,22-01-05,5,1,2022,1,22-01
715,Singapore,283214,confirmed,813.0,22-01-06,6,1,2022,1,22-01
716,Singapore,283214,confirmed,0.0,22-01-07,7,1,2022,1,22-01

In [17]:
# Export to CSV
df_clean.to_csv('sg_covid.csv',index=False)